body {
    background-color: rgb(246, 247,248);
}
#est {
    padding-top: 10px;
}
.label {
    padding-top: 5px;
}
.radios {
    padding-bottom: 10px;
}
.complemento {
    padding-top: 10px;
}
.margin-top {
    padding-top: 15px;
}
.margin-botton {
    padding-top: 20px;
}